{% extends 'index.html' %}

{% block contact %}
{% load staticfiles %}
<div class="pageTitle">
	<div class="container">
	<h2>Contact Us</h2>
	</div>
</div>
	
<div class="container" style="background: #ffffff url("{% static 'themes/assets/images/shop.jpg' %}") no-repeat right top;">
	<div class="bodyInner">
		<p>
		&nbsp;
		</p>

		<h4>
		Address &nbsp;&nbsp;: Fashion Textiles
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Near C H colony 
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Vellimadukunnu P O
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Paroppadi
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Calicut-673012
		<br>
		<br>
		Call Us &nbsp;&nbsp;&nbsp;: **********
		<br>
		<br>
		Email Us : fashionworld@gmail.com
		<br>
		</h4>

		<p>&nbsp;
		</p><p>&nbsp;
		</p><p>&nbsp;
		</p><p>&nbsp;
		</p><p>&nbsp;
		</p><p>&nbsp;
		</p><p>&nbsp;
		</p><p>&nbsp;
		</p><p>&nbsp;
		
		</p>
	</div>
</div>

{% endblock %}
	
	

